html {
  font-family: Helvetica, sans-serif;
}

header, footer {
  background-color: orange;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  border-bottom: 3px solid white;
  background-color: black;
}

.current {
  background-color: pink;
}

.btn {
  color: white;
}

.btn-ghost {
  color: white;
  border: 2px solid white;
}

.btn:hover {
  background-color: red;
}

.banner {
  position: relative;
}

.home-img {
  position: relative;
}

.callout {
  position: absolute;
  z-index: 1;
  left: 10%;
  top: 47%;
}

.btn-callout {
  background-color: pink;
  border-radius: 8px;
  border-style: none;
}

.btn-callout:hover {
  background-color: white;
}

.callout p {
  color: white;
}

.stories {
  background-color: pink;
}
